<!-- app/views/admin/dashboard.html.erb -->
<div class="container mt-4">
  <h1 class="text-center mb-4">Admin Dashboard</h1>

  <div class="row justify-content-center">
    <div class="col-md-6 d-flex flex-column align-items-center">


      <a href="<%= faculties_path %>" class="btn btn-primary mb-3 w-100 text-center">
        Manage Faculty List
      </a>
   
      
      <a href="<%= students_path %>" class="btn btn-primary mb-3 w-100 text-center">
        Manage Student List
      </a>

      <a href="<%= projects_path %>" class="btn btn-secondary mb-3 w-100 text-center">
      Back to Projects
    </a>

    

    </div>
    
  </div>

  <!-- Back to Projects list -->
  
</div>

