/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .card {
    border-radius: 12px;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .container {
    max-width: 900px; /* Keeps content readable */
    margin: auto;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  p {
    margin-bottom: 10px;
  }
  
/* Make sure the Apply button looks consistent */

.btn-primary {
    background-color: #500000;
    border-color: #3c0000;
}
  
.btn-primary:hover {
    background-color: #732f2f;
    border-color: #581919;
}

.nav-link {
    position: relative;
    display: block;
    color: white;
}

.nav-link:hover {
    color: #d6d3c4;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: transform 0.25s ease-out;
    transform-origin: bottom center;
}

.nav-link:hover::after {
    transform: scaleX(1);
    background-color: #d6d3c4;
}

#header {
    background: #500000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    font-weight: bold;
}

#header-left > img {
    max-width: 450px;
}

#header-left > h1 {
    color: rgb(255, 255, 255);
}

#header-right {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  gap: 3em;
  padding: 1em;
}